
*.ipch
.vs/DesignPattern/v16/.suo
*.db
*.exe
*.ilk
*.pdb
*.sln
*.tlog
*.obj
*.filters
*.idb
*.vcxproj
*.log
*.recipe
*.user
*.db-shm
*.db-wal
*.opendb
DesignPattern/.editorconfig
*.bak
Modern_Design_pattern/.vs/Modern_Design_pattern/v16/.suo
*.config
*.dat
Modern_Design_pattern/packages/
*.exp
*.lib
*.dll
*.txt
*.CopyComplete
